<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::html_head">
</head>
<body>

<!--NavBar-->
<nav th:replace="layout::html_nav" class="navbar navbar-expand-lg navbar-light bg-light">
</nav>

<!--menu-->
<div th:replace="layout::html-menu"></div>

<!--Table -->

<div class="container-fluid">

    <table class="table table-white">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}">
            <th th:text="${article.id}" scope="row">1</th>
            <td th:text="${article.title}">Mark</td>
            <td th:text="${article.description}">Otto</td>
            <td>
                <div>
                    <img th:src="${article.getUrlImg()}" width="100px" height="100px" />
                </div>
            </td>
            <td  >
                <a th:href="@{/view-article/{id}(id=${article.id})}" type="button" class="btn btn-secondary">View</a>
                <a th:href="@{/update-article/{id}(id=${article.id})}" type="button" class="btn btn-success">Update</a>
                <a th:href="@{/delete-article/{id}(id=${article.id})}" type="button" class="btn btn-danger">Delete</a>
            </td>

        </tr>


        </tbody>
    </table>
</div>




<div th:replace="layout::script"></div>
</body>
</html>