<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::html_head">
</head>
<body>
<nav th:replace="layout::html_nav">
</nav>

<div class="container">
    <div class="card my-5" style="width: 800px; margin: auto">
        <img th:src="${article.getUrlImg()}" class="card-img-top" th:alt="${article.title}">
        <div class="card-body">
            <h5 th:text="${article.title}" class="card-title">Card title</h5>
            <p th:text="${article.description}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a th:href="@{/}" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</div>

<div th:replace="layout::script"></div>
</body>
</html>